<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주도 | 여행어때</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="shortcut icon" href="../static/img/favicon.ico">
      <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
     <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</head>

<body>
  <%-include('./header.ejs', {islogin, iskakao})%>
  
  <div class="div-padding">
    <div class="row g-0 bg-light position-relative w-50 mx-auto">
      <div class="col-md-6 mb-md-0 p-md-4 ">
        <img src="../static/img/Seogwipo.jpg" class="w-100" alt="seoul">
      </div>
      <div class="col-md-6 p-4 ps-md-0">
        <h5 class="mt-0 fw-bold">서귀포Seogwipo</h5>
        <p>신비로운 자연의 모습을 품은 서귀포시.
          웅장한 돌기둥들이 병풍처럼 펼쳐진 대포 주상절리와 하늘과 땅이 만나는 연못이라 불리는 천지연 폭포,
          수중 폭발 분화구인 성산 일출봉은 제주를 대표하는 관광지이다. 제주에서 손꼽히는 비경 중 하나인 섭지코지는 꾸준히 사랑받고 있는 여행지이며,
          서귀포 매일 올레시장에 들러 꽁치김밥을 맛보는 것도 하나의 별미!</p>
          <a href="https://travel.naver.com/domestic/14130/guide/all" class="stretched-link align-middle">서귀포 관광지 둘러보기</a>
      </div>
    </div>
    <br>
    <div class="row g-0 bg-light position-relative w-50 mx-auto">
      <div class="col-md-6 mb-md-0 p-md-4 ">
        <img src="../static/img/Jeju.jpg" class="w-100" alt="seoul">
      </div>
      <div class="col-md-6 p-4 ps-md-0">
        <h5 class="mt-0 fw-bold">제주Jeju</h5>
        <p>해변이 아름다운 제주시. 에메랄드빛 맑은 물빛을 자랑하는 협재 해수욕장부터 다른 지역에서는 볼 수 없는 삼양 검은 모래해변,
           목마 등대가 눈에 띄는 이호테우해변까지 다양한 바다를 만날 수 있다. 제주를 상징하는 해안 절경 용두암과 푸른 하늘과 언덕 
           그리고 바다까지 삼박자를 모두 갖춘 우도도 빼놓을 수 없다.
          오메기떡으로 유명한 동문재래시장 쇼핑은 떠오르는 제주 여행 코스.</p>
          <a href="https://travel.naver.com/domestic/14110/guide/all" class="stretched-link align-middle">제주 관광지 둘러보기</a>
      </div>
    </div>
  </div>
  
  <%-include('./footer.ejs')%>
</body>

</html>